# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
test_downloads/
*.pdf
*.tmp
*.log

# Environments
.venv
venv/
ENV/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
